name = "T8code"
uuid = "d0cc0030-9a40-4274-8435-baadcfd54fa1"
authors = ["Johannes Markert <johannes.markert@dlr.de>"]
version = "0.4.4"

[deps]
CEnum = "fa961155-64e5-5f13-b03f-caf6b980ea82"
Libdl = "8f399da3-3557-5675-b5ff-fb832c97cbdb"
MPI = "da04e1cc-30fd-572f-bb4f-1f8673147195"
MPIPreferences = "3da0fdf6-3ccc-4f1b-acd9-58baa6c99267"
Preferences = "21216c6a-2e73-6563-6e65-726566657250"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"
UUIDs = "cf7118a7-6976-5b1a-9a39-7adc72f591a4"
t8code_jll = "4ee9bed8-4011-53f7-90c2-22363c2f500d"

[compat]
CEnum = "0.4, 0.5"
MPI = "0.20"
MPIPreferences = "0.1"
Preferences = "1"
Reexport = "0.2, 1.0"
TOML = "1"
julia = "1.6"
t8code_jll = "=1.1.2"
